---
import ListingCard from './ListingCard.astro';
---

<div class="mt-4 flex flex-wrap flex-col md:flex-row gap-4 md:mx-0">

<!-- <h2>No Homes Listed. Check back later.</h2> -->

<ListingCard
  listingImg="https://i.postimg.cc/ydq5wth3/1cb7094726f514eee41acf52ebdbc130l-m4191660637rd-w960-h720.webp" 
  listingAddress="2300 5th Ave"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$149,000"
  lBeds="3"
  lBath="2"
  lGarage=""
  lsqFt="1,152"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.realtor.com/realestateandhomes-detail/M9112812948"
  />

  <ListingCard
  listingImg="https://i.postimg.cc/vHcWbSZF/2256-5th-Ave-Listing-Photo.webp" 
  listingAddress="2256 5th Ave"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$149,000"
  lBeds="3"
  lBath="2"
  lGarage=""
  lsqFt="1,152"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.realtor.com/realestateandhomes-detail/M3576724612"
  />

  <ListingCard
  listingImg="https://i.postimg.cc/52j1PLgR/105-S-17th-St-Listing-Photo.webp" 
  listingAddress="105 South 17th Street"
  listingCityZip="Terre Haute, IN 47805"
  listingPrice="$129,000"
  lBeds="3"
  lBath="1.5"
  lGarage="1-Car Garage"
  lsqFt="3,542"
  floorplan2D=""
  floorplan3D=""
  videoTourLink=""
  listingLink="https://www.realtor.com/realestateandhomes-detail/M3847610749"
  />
  
</div>